.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    img{
        width: 100%;
        border-radius: 20px;
        filter: brightness(45%)
    }
    h1{
        position: absolute;
        color: white;
        font-size: 4vw;
    }
}