.card{
    display: flex;
    margin: 20px;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    img{
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
    }
    div{
        margin:10px;
        height: 30px;
        width: 90%;
        position: relative;
        bottom: 80px;
    }
}